apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ certificate.name }}
spec:
  dnsNames:
{% for domainName in certificate.domainNames %}
  - "{{ domainName }}"
{% endfor %}
  issuerRef:
    name: {{ certificate.issuer }}
    kind: {{ certificate.issuerType }}
  secretName: {{ certificate.name }}-tls
